$zindex--nav-hamburger-child = $zindex-2
$zindex--nav-hamburger-root = $zindex-3
$zindex--body = $zindex-5
$zindex--nav-normal-child = $zindex-6
$zindex--nav-normal-root = $zindex-7
$zindex--header = $zindex-7
